.my-gradient {
background: #000000;
background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(4, 31, 21, 1) 50%, rgba(13, 28, 13, 1) 74%, rgba(36, 32, 32, 1) 100%);
}

.wood-bg {
    background-image: url('./assets/images/alien-bg.jpg');
    background-size: contain;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.animate-float {
  animation: float 1.5s ease-in-out infinite;
}